# Pandas

In [8]:
import pandas as pd

In [9]:
pd?

## series

In [11]:
import pandas as pd
import numpy as np

s = pd.Series([1,3,6,np.nan,44,1]) # pandas序列 类似字典
print(s)

0     1.0
1     3.0
2     6.0
3     NaN
4    44.0
5     1.0
dtype: float64

## DataFrame

In [12]:
dates = pd.date_range('20190623',periods=6) # 日期
print(dates)

DatetimeIndex(['2019-06-23', '2019-06-24', '2019-06-25', '2019-06-26',
               '2019-06-27', '2019-06-28'],
              dtype='datetime64[ns]', freq='D')

In [15]:
df = pd.DataFrame(np.arange(24).reshape((6,4)))
print(df)

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19
5  20  21  22  23

In [25]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(0,100,(3,4)), index=['2','a','ad'],columns=[i for i in 'asdf'])
df

     a   s   d   f
2   87  39  33  63
a    0  51  55  87
ad  30   2  87  89

In [15]:
df = pd.DataFrame(np.arange(24).reshape((6,4)),index=dates,columns=['a','b','c','d']) 
#                          默认序列0开始       行索引      列索引
print(df)

             a   b   c   d
2019-06-23   0   1   2   3
2019-06-24   4   5   6   7
2019-06-25   8   9  10  11
2019-06-26  12  13  14  15
2019-06-27  16  17  18  19
2019-06-28  20  21  22  23

### 数据分析

In [16]:
print(df.dtypes) # 数据类型
print(df.values) # 数据

print(df.index) # 行名
print(df.columns) # 列名

a    int32
b    int32
c    int32
d    int32
dtype: object
[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]
 [12 13 14 15]
 [16 17 18 19]
 [20 21 22 23]]
DatetimeIndex(['2019-06-23', '2019-06-24', '2019-06-25', '2019-06-26',
               '2019-06-27', '2019-06-28'],
              dtype='datetime64[ns]', freq='D')
Index(['a', 'b', 'c', 'd'], dtype='object')

In [17]:
print(df.describe()) # 数据按列分析

               a          b          c          d
count   6.000000   6.000000   6.000000   6.000000
mean   10.000000  11.000000  12.000000  13.000000
std     7.483315   7.483315   7.483315   7.483315
min     0.000000   1.000000   2.000000   3.000000
25%     5.000000   6.000000   7.000000   8.000000
50%    10.000000  11.000000  12.000000  13.000000
75%    15.000000  16.000000  17.000000  18.000000
max    20.000000  21.000000  22.000000  23.000000

### 排序

In [18]:
print(df.sort_index(axis=0,ascending=False)) # 按行名降序

             a   b   c   d
2019-06-28  20  21  22  23
2019-06-27  16  17  18  19
2019-06-26  12  13  14  15
2019-06-25   8   9  10  11
2019-06-24   4   5   6   7
2019-06-23   0   1   2   3

In [19]:
print(df.sort_index(axis=1,ascending=False)) # 按列名降序

             d   c   b   a
2019-06-23   3   2   1   0
2019-06-24   7   6   5   4
2019-06-25  11  10   9   8
2019-06-26  15  14  13  12
2019-06-27  19  18  17  16
2019-06-28  23  22  21  20

In [20]:
print(df.sort_values(by='c',ascending=False)) # 按'c'列降序

             a   b   c   d
2019-06-28  20  21  22  23
2019-06-27  16  17  18  19
2019-06-26  12  13  14  15
2019-06-25   8   9  10  11
2019-06-24   4   5   6   7
2019-06-23   0   1   2   3

### 选择数据

In [21]:
print(df['a']) # 选择'a'列
print(df[1:4]) # 按行切片
print(df[df.a>8]) # 布尔提取

2019-06-23     0
2019-06-24     4
2019-06-25     8
2019-06-26    12
2019-06-27    16
2019-06-28    20
Freq: D, Name: a, dtype: int32
             a   b   c   d
2019-06-24   4   5   6   7
2019-06-25   8   9  10  11
2019-06-26  12  13  14  15
             a   b   c   d
2019-06-26  12  13  14  15
2019-06-27  16  17  18  19
2019-06-28  20  21  22  23

In [22]:
print(df.loc['2019-06-26']) # 按标签索引
print(df.loc[:,'a'])
print(df.loc['2019-06-26',['b','c']])

a    12
b    13
c    14
d    15
Name: 2019-06-26 00:00:00, dtype: int32
2019-06-23     0
2019-06-24     4
2019-06-25     8
2019-06-26    12
2019-06-27    16
2019-06-28    20
Freq: D, Name: a, dtype: int32
b    13
c    14
Name: 2019-06-26 00:00:00, dtype: int32

In [23]:
print(df.iloc[3,1]) # 按位置索引提取

13

### 重新赋值 & 添加数据

In [25]:
df.iloc[2,2]=66
print(df)

             a   b   c   d
2019-06-23   0   1   2   3
2019-06-24   4   5   6   7
2019-06-25   8   9  66  11
2019-06-26  12  13  14  15
2019-06-27  16  17  18  19
2019-06-28  20  21  22  23

In [26]:
df.a[df.a>8]=0
print(df)

            a   b   c   d
2019-06-23  0   1   2   3
2019-06-24  4   5   6   7
2019-06-25  8   9  66  11
2019-06-26  0  13  14  15
2019-06-27  0  17  18  19
2019-06-28  0  21  22  23

In [27]:
df['e'] = np.arange(6)
df['f'] = pd.Series([1,3,6,np.nan,44,1], index = pd.date_range('20190624',periods=6)) 
# 添加的序列行名不一致则为 NaN
print(df)

            a   b   c   d  e     f
2019-06-23  0   1   2   3  0   NaN
2019-06-24  4   5   6   7  1   1.0
2019-06-25  8   9  66  11  2   3.0
2019-06-26  0  13  14  15  3   6.0
2019-06-27  0  17  18  19  4   NaN
2019-06-28  0  21  22  23  5  44.0

### 数据丢失

In [28]:
print(df.dropna(axis=0)) # 垂直操作 有任何一行含NAN 则丢弃
print(df.dropna(axis=0, how='all')) # 垂直操作 有任何一行全为NAN 则丢弃

            a   b   c   d  e     f
2019-06-24  4   5   6   7  1   1.0
2019-06-25  8   9  66  11  2   3.0
2019-06-26  0  13  14  15  3   6.0
2019-06-28  0  21  22  23  5  44.0
            a   b   c   d  e     f
2019-06-23  0   1   2   3  0   NaN
2019-06-24  4   5   6   7  1   1.0
2019-06-25  8   9  66  11  2   3.0
2019-06-26  0  13  14  15  3   6.0
2019-06-27  0  17  18  19  4   NaN
2019-06-28  0  21  22  23  5  44.0

In [29]:
print(df.fillna(value=0)) # NAN -> 0

            a   b   c   d  e     f
2019-06-23  0   1   2   3  0   0.0
2019-06-24  4   5   6   7  1   1.0
2019-06-25  8   9  66  11  2   3.0
2019-06-26  0  13  14  15  3   6.0
2019-06-27  0  17  18  19  4   0.0
2019-06-28  0  21  22  23  5  44.0

In [30]:
print(df.isnull()) 
print(np.any(df.isnull())==True) # 检查是否丢失数据

                a      b      c      d      e      f
2019-06-23  False  False  False  False  False   True
2019-06-24  False  False  False  False  False  False
2019-06-25  False  False  False  False  False  False
2019-06-26  False  False  False  False  False  False
2019-06-27  False  False  False  False  False   True
2019-06-28  False  False  False  False  False  False
a    False
b    False
c    False
d    False
e    False
f     True
dtype: bool

## Pandas 导入导出

In [34]:
import pandas as pd
import numpy as np

data = pd.read_csv('files/student.csv') # 自动加行索引
print(data)

data.to_pickle('files/student.pickle')

    Student ID   name  age  gender
0         1100  Kelly   22  Female
1         1101    Clo   21  Female
2         1102  Tilly   23  Female
3         1103   Tony   24    Male
4         1104  David   25    Male
5         1105   Jack   22    Male
6         1106  Catty   23  Female
7         1107  Milly   22  Female
8         1108   Jone   22    Male
9         1109  Jason   19    Male
10        1110    Tom   25    Male
11        1111  Lilly   25  Female

## Pandas 合并

### concat

In [35]:
import pandas as pd
import numpy as np

df1 = pd.DataFrame(np.ones((3,4))*0,columns=['a','b','c','d']) # 同列索引同数据
df2 = pd.DataFrame(np.ones((3,4))*1,columns=['a','b','c','d'])
df3 = pd.DataFrame(np.ones((3,4))*2,columns=['a','b','c','d'])

res = pd.concat([df1,df2,df3], axis=0, ignore_index=True) # 垂直合并 行索引重新排序
print(res)

     a    b    c    d
0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0
3  1.0  1.0  1.0  1.0
4  1.0  1.0  1.0  1.0
5  1.0  1.0  1.0  1.0
6  2.0  2.0  2.0  2.0
7  2.0  2.0  2.0  2.0
8  2.0  2.0  2.0  2.0

### join

In [37]:
import pandas as pd
import numpy as np

df1 = pd.DataFrame(np.ones((3,4))*0,index=[1,2,3],columns=['a','b','c','d']) # 不同索引
df2 = pd.DataFrame(np.ones((3,4))*1,index=[2,3,4],columns=['b','c','d','e'])

res = pd.concat([df1,df2], join='outer', ignore_index=True) # 取并集 无则NaN
print(res)

res = pd.concat([df1,df2], join='inner', ignore_index=True) # 取交集 无则减去
print(res)

     a    b    c    d    e
0  0.0  0.0  0.0  0.0  NaN
1  0.0  0.0  0.0  0.0  NaN
2  0.0  0.0  0.0  0.0  NaN
3  NaN  1.0  1.0  1.0  1.0
4  NaN  1.0  1.0  1.0  1.0
5  NaN  1.0  1.0  1.0  1.0
     b    c    d
0  0.0  0.0  0.0
1  0.0  0.0  0.0
2  0.0  0.0  0.0
3  1.0  1.0  1.0
4  1.0  1.0  1.0
5  1.0  1.0  1.0

### join_axes

In [38]:
res = pd.concat([df1,df2],axis=1) # 按df1 的行索引合并，无则NAN
print(res)

res = pd.concat([df1,df2],axis=1, join_axes=[df1.index]) # 按df1 的行索引合并，无则NAN
print(res)

     a    b    c    d    b    c    d    e
1  0.0  0.0  0.0  0.0  NaN  NaN  NaN  NaN
2  0.0  0.0  0.0  0.0  1.0  1.0  1.0  1.0
3  0.0  0.0  0.0  0.0  1.0  1.0  1.0  1.0
4  NaN  NaN  NaN  NaN  1.0  1.0  1.0  1.0
     a    b    c    d    b    c    d    e
1  0.0  0.0  0.0  0.0  NaN  NaN  NaN  NaN
2  0.0  0.0  0.0  0.0  1.0  1.0  1.0  1.0
3  0.0  0.0  0.0  0.0  1.0  1.0  1.0  1.0

### append

In [39]:
res = df1.append(df2, ignore_index=True)
print(res)

     a    b    c    d    e
0  0.0  0.0  0.0  0.0  NaN
1  0.0  0.0  0.0  0.0  NaN
2  0.0  0.0  0.0  0.0  NaN
3  NaN  1.0  1.0  1.0  1.0
4  NaN  1.0  1.0  1.0  1.0
5  NaN  1.0  1.0  1.0  1.0